/* 
    댕댕이 나만없어
    안유빈@2018
*/
@keyframes doggo-scroll
{
    0% {background-position: 0 0;}
    100% {background-position: 50vw 0;}
}

@keyframes doggo-swooce-appear
{
    0% { transform: translate(90vw, -10vh); background-color: #9c4444; }
    70% { background-color: #9c4444; }
    100% { transform: translate(0, 0); background-color: rgb(54, 55, 65); }
}

@keyframes title-wiggle
{
    0% { transform: translate(-50%, -50%) rotateZ(-18deg); }
    50% { transform: translate(-50%, -50%) rotateZ(18deg); }
    100% { transform: translate(-50%, -50%) rotateZ(-18deg); }
}

@keyframes attraction-blink
{
    0% { color: rgb(212, 71, 158, 100%); }
    50% { color: rgb(212, 71, 158, 0%); }
    100% { color: rgb(212, 71, 158, 100%); }
}

@keyframes wait-spin {
    0% {
        transform:translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform:translate(-50%, -50%) rotate(1turn);
    }
}

@keyframes modal-appear
{
    0% {transform: translateX(-50%) translateY(-50%) scale(0.1) rotateZ(0deg);}
    5% {transform: translateX(-50%) translateY(-50%) scale(0.1) rotateZ(-12deg);}
    80% {transform: translateX(-50%) translateY(-50%) scale(1) rotateZ(6deg);}
    100% {transform: translateX(-50%) translateY(-50%) scale(1) rotateZ(0deg);}
}

@font-face
{
    font-family: bm_font;
    src: url("fnt/BMDOHYEON_ttf.ttf");
}

@font-face
{
    font-family: chinese;
    src: url("fnt/CHINESEROCKS.ttf");
}

@font-face
{
    font-family: fontawesome;
    src: url("fnt/fa-solid-900.ttf");
}

@font-face
{
    font-family: hacksan;
    src: url("fnt/Hack-NamSan.ttf");
}

/* 안쓰는게 좋음 */
*
{
    color: blanchedalmond;

    margin: 0;
    padding: 0;
}

body
{
    padding: 0;
    margin: 0;
    background-color: rgb(32, 33, 34);
}

button
{
    display: block;
    width: 200px;
    height: 200px;

    padding: 1em;
    background-color: #a52a2a;
    color: rgb(19, 18, 18);

    border: none;
}

.fa-icon::before
{
    font-family: fontawesome;
    font-weight: 900;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.fa-sync::before
{
    content: "\f021";
}

.fa-info::before
{
    content: "\f129";
}

/*
    Buttons
    ========================
*/

#main > #buttons
{
    display: flex;
    margin: 1em;
    
    flex-direction: row;
    justify-content: center;
}

#main > #buttons > .func-button
{
    display: block;
    margin: 0 1em;
    background-color: #FFDD00;
}

#main > #buttons > .func-button > .fa-icon
{
    display: block;
    margin: 10px;

    color: rgb(27, 26, 26);
    font-size: 6em;
}

#main > #buttons > .func-button > span
{
    font-family: bm_font;
    font-size: 2em;
    color: rgb(27, 26, 26);
}

/*
    HEADER - COMMON
    ================
*/
#header
{
    position: relative;
    display: block;
    content: "";
    width: 100%;

    /* Align center */
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/*
    HEADER - TOP PART (IMAGAE, LOGO AND STUFF)
    ================
*/
#header > #header-top
{
    display: block;
    content: "";
    height: 100vh;

    /* 눈뽕 */
    /* background-color: brown; */
    /* background: #443229; /* Old browsers */
    /* background: -moz-linear-gradient(left, #443229 25%, #a52a2a 25%, #a52a2a 50%, #443229 50%, #443229 75%, #a52a2a 75%); /* FF3.6-15 */
    /* background: -webkit-linear-gradient(left, #443229 25%,#a52a2a 25%,#a52a2a 50%,#443229 50%,#443229 75%,#a52a2a 75%); /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right, #443229 25%,#a52a2a 25%,#a52a2a 50%,#443229 50%,#443229 75%,#a52a2a 75%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#443229', endColorstr='#a52a2a',GradientType=1 ); IE6-9 */
    /* background-position: 0 0; */

    /* 멍멍이 */
    background-color: #a52a2a;
    background-image: url("bg/backdrop.gif");
    background-size: cover;

    /*
    animation: doggo-scroll;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    */
}


/* #header-top > #header-img
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    background-image: url("bg/DOG.jpg");
    background-repeat: repeat;
    background-size: 128px 128px;

    animation: doggo-scroll 3s infinite;
    animation-timing-function: linear;
} */

#header-top > #header-title
{
    
    font-family: bm_font;
    font-size: 10em;
    font-style: italic;
    /*
    font-family: chinese;
    letter-spacing: 10px;
    font-size: 5em;
    */
    text-align: center;

    /* Center */
    position: absolute;
    width: 75vw;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%) rotatez(0deg);

    /* Sine anim */
    animation: title-wiggle 6s infinite;

    /* Decoration */
    text-shadow: 0.15em 0 rgb(212, 71, 158),
                 0.30em 0 rgb(111, 23, 212),
                 0.45em 0 rgb(59, 125, 223);
}

#header-top > #header-text
{
    font-family: bm_font;
    font-size: 2em;
    text-align: center;

    /* Center */
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%) rotatez(0deg);

    /* Decoration */
    color: #FFDD00;
    text-shadow: 0.1em 0.1em rgb(32, 33, 34);
}

#header-top > #attraction
{
    font-family: bm_font;
    font-size: 2em;
    text-align: center;

    /* Center */
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%) rotatez(0deg);

    /* Decoration */
    color: rgb(212, 71, 158);
    animation: attraction-blink 1s infinite;
    /* text-shadow: 0.1em 0.1em rgb(32, 33, 34); */
}

/*
    HEADER - BOTTOM PART (BLACK BAR)
    ================
*/
#header > #header-bottom
{
    /* position: relative; */
    display: block;
    content: "";
    height: 64px;

    /* Pretty */
    background-color: black;
}

/* Header bar text */
#header-bottom > span
{
    display: block;

    /* Make text fancy */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: bm_font;
    font-size: 32px;
    line-height: 64px;

    /* And position it */
    text-align: center;
}

/*
    BODY
    ====================
*/
#main
{
    /* width: 100%; */
    /* padding: 5em; */
    
    text-align: center;

    overflow: hidden;
}

/*
    BREED LIST
    ===================
*/
#main > .breed-list
{
    width: 80%;
    height: auto;
    padding: 0;
    margin: 1em auto 2em auto;

    color: aliceblue;
    background-color: #a52a2a;
    box-shadow: rgb(19, 18, 18) 1em 1em;
}

/* Title of breed list */
.breed-list > #title
{
    font-family: bm_font;
    font-size: 4em;
    line-height: 1.42em;

    text-shadow: 0.1em 0.1em rgb(32, 33, 34);
}

.breed-list > #list
{
    height: 256px;

    list-style: lower-greek;
    list-style-position: inside;

    background-color: rgb(27, 26, 26);
    overflow: scroll;
}

.breed-list > #list > li:nth-child(2n)
{
    background-color: rgb(32, 33, 34);
}

/*
    LIST
    ===================
*/
#main > .list
{
    /* oh wow */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 2em;
}

.list > .list-entry
{
    position: relative;
    display: flex;
    width: 200px;
    height: 192px;
    margin: 0.5em;

    flex-direction: column;
    justify-content: space-evenly;

    background-color: rgb(19, 18, 18);
    /* background-color: rgb(54, 55, 65); */
    /* box-shadow: rgb(19, 18, 18) 1em 1em; */

    /* Appear anim */
    animation: doggo-swooce-appear;
    animation-duration: 0.24s;
    animation-iteration-count: 1;
}

.list-entry > #thumbnail
{
    position: relative;
    display: block;
    width: 200px;
    height: 128px;

    background-color: brown;
    background-image: url("DOG_DANCE.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    /* animation-name: dog-spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.list-entry > #container
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 64px;
}

.list-entry > #container > #desc
{
    position: relative;
    vertical-align: middle;

    font-family: bm_font;
    font-size: 1.5em;

    color: #FFDD00;
}


/*
    MODAL
    ================
*/
/* BG filler */
.modal
{
    display: none;
    position: fixed;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    /* center */
    line-height: 42px;
    text-align: center;

    background-color: rgb(32, 33, 34, 75%);
}

#msg > #content
{
    position: fixed;
    display: block;
    width: 700px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: bm_font;
    background-color: rgb(19, 18, 18);

    /* Appear smooth af */
    animation: modal-appear 0.25s 1;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Title bar */
#msg > #content > #title
{
    display: block;
    width: 100%;
    height: 50px;
    
    /* center */
    line-height: 50px;
    text-align: center;

    background-color: #FFDD00;
    color: rgb(19, 18, 18);
}

/* description */
#msg > #content > #desc
{
    display: block;
    height: 250px;
    margin: 0;

    /* center */
    font-family: hacksan;
    font-size: 1em;
    text-align: center;

    color: aliceblue;
}

/* close button */
#msg > #content > #close
{
    display: block;
    width: 100%;
    height: 42px;
    bottom: 0;
    
    /* center */
    line-height: 42px;
    text-align: center;

    font-size: 2em;
    font-weight: bold;
    /* background-color: #FFDD00; */
    background-color: rgb(54, 55, 65);
    color: aliceblue;

    /* cursor to click */
    cursor: pointer;
}

/*
    PICTURE VIEWER
    ================
*/
/* BG filler */
#pic.modal
{
    display: none;
    position: fixed;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    /* center */
    line-height: 42px;
    text-align: center;

    background-color: rgb(32, 33, 34, 75%);
}

#pic > #content
{
    position: relative;
    display: block;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    /* Appear anim */
    animation: modal-appear;
    animation-duration: 0.24s;
    animation-iteration-count: 1;
}

/* Title */
#pic > #content > #title
{
    position: relative;
    display: block;
    width: 100vw;
    height: 64px;
    
    /* center */
    /* transform: translateX(-50%); */
    
    font-family: bm_font;
    font-size: 3em;
    line-height: 64px;
    background-color: #a52a2a;
}

/* Wrapper - Picture frame and such */
#pic > #content > #wrapper
{
    position: relative;

    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(19, 18, 18);
}

/* picture frame */
#pic > #content > #wrapper > #pic
{
    display: block;
    content: "";

    /* left: 50%; */
    width: auto;
    height: 75vh;
    z-index: 1;
    
    /* center */
    /* transform: translateX(-50%); */
    /* background-color: rgb(54, 55, 65); */
}

/* Loading spinny stuff */
#pic > #content > #wrapper > #load-spin
{
    position: absolute;

    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    /* font-size: 6em; */
}

#pic > #content > #wrapper > #load-spin > #icon
{
    position: relative;
    width: 100%;
    height: 100%;
    animation: wait-spin 1s linear infinite;
}

/* Buttons */
#pic > #content > #wrapper > .control
{
    display: block;
    width: 128px;
    height: 128px;

    font-family: chinese;
    font-size: 4em;
    line-height: 128px;
    background-color: rgb(54, 55, 65);
}

/* Speial button for close button */
#pic > #content > #close
{
    display: block;
    float: none;
    height: 64px;
    line-height: 64px;

    font-family: chinese;
    font-size: 3em;

    color: rgb(19, 18, 18);
    background-color: #FFDD00;
}
